rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // Public read access for prototype, write still open for development
      allow read, write: if true;
    }
  }
}
